In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
m1=pd.read_csv("international_migration.csv")
m1

,year_month,month_of_release,passenger_type,direction,citizenship,visa,country_of_residence,estimate,standard_error,status
0,2020-02,2021-03,Long-term migrant,Arrivals,non-NZ,Resident,Andorra,1,0,Provisional
1,2020-09,2021-03,Long-term migrant,Arrivals,non-NZ,Resident,Andorra,1,0,Provisional
2,2020-07,2021-03,Long-term migrant,Arrivals,non-NZ,Visitor,Andorra,1,0,Provisional
3,2020-07,2021-03,Long-term migrant,Arrivals,non-NZ,NZ and Australian citizens,Andorra,1,0,Provisional
4,2020-01,2021-03,Long-term migrant,Arrivals,NZ,NZ and Australian citizens,Andorra,1,0,Provisional
...,...,...,...,...,...,...,...,...,...,...
401767,2018-12,2020-09,Long-term migrant,Arrivals,TOTAL,NZ and Australian citizens,TOTAL,5962,0,Final
401768,2019-01,2020-09,Long-term migrant,Arrivals,TOTAL,NZ and Australian citizens,TOTAL,4148,0,Final
401769,2019-02,2020-09,Long-term migrant,Arrivals,TOTAL,NZ and Australian citizens,TOTAL,2936,0,Final
401770,2019-03,2020-09,Long-term migrant,Arrivals,TOTAL,NZ and Australian citizens,TOTAL,2769,0,Final
401771,2019-04,2020-09,Long-term migrant,Arrivals,TOTAL,NZ and Australian citizens,TOTAL,2552,0,Final

In [35]:
m1.columns
print(m1.describe(include="all"))
 #m1["passenger_type","country_of_residence"]
m1.head(n=80)

<ipython-input-35-f422ad36399e>:2: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  print(m1.describe(include="all"))
<ipython-input-35-f422ad36399e>:2: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  print(m1.describe(include="all"))

                 year_month     month_of_release     passenger_type direction  \
count                401772               401772             401772    401772
unique                  243                    7                  1         1
top     2020-01-01 00:00:00  2020-09-01 00:00:00  Long-term migrant  Arrivals
freq                  12521               276869             401772    401772
first   2001-01-01 00:00:00  2020-09-01 00:00:00                NaN       NaN
last    2021-03-01 00:00:00  2021-03-01 00:00:00                NaN       NaN
mean                    NaN                  NaN                NaN       NaN
std                     NaN                  NaN                NaN       NaN
min                     NaN                  NaN                NaN       NaN
25%                     NaN                  NaN                NaN       NaN
50%                     NaN                  NaN                NaN       NaN
75%                     NaN                  NaN                NaN       NaN
max                     NaN                  NaN                NaN       NaN

       citizenship    visa country_of_residence       estimate  \
count       401772  401772               401772  401772.000000
unique           3       7                  246            NaN
top          TOTAL   TOTAL                TOTAL            NaN
freq        183509  117261                 5184            NaN
first          NaN     NaN                  NaN            NaN
last           NaN     NaN                  NaN            NaN
mean           NaN     NaN                  NaN      96.821197
std            NaN     NaN                  NaN     534.092161
min            NaN     NaN                  NaN       0.000000
25%            NaN     NaN                  NaN       1.000000
50%            NaN     NaN                  NaN       4.000000
75%            NaN     NaN                  NaN      21.000000
max            NaN     NaN                  NaN   22067.000000

        standard_error  status
count    401772.000000  401772
unique             NaN       2
top                NaN   Final
freq               NaN  264179
first              NaN     NaN
last               NaN     NaN
mean          0.656980     NaN
std           4.641122     NaN
min           0.000000     NaN
25%           0.000000     NaN
50%           0.000000     NaN
75%           0.000000     NaN
max         331.000000     NaN

,year_month,month_of_release,passenger_type,direction,citizenship,visa,country_of_residence,estimate,standard_error,status
0,2020-02-01,2021-03-01,Long-term migrant,Arrivals,non-NZ,Resident,Andorra,1,0,Provisional
1,2020-09-01,2021-03-01,Long-term migrant,Arrivals,non-NZ,Resident,Andorra,1,0,Provisional
2,2020-07-01,2021-03-01,Long-term migrant,Arrivals,non-NZ,Visitor,Andorra,1,0,Provisional
3,2020-07-01,2021-03-01,Long-term migrant,Arrivals,non-NZ,NZ and Australian citizens,Andorra,1,0,Provisional
4,2020-01-01,2021-03-01,Long-term migrant,Arrivals,NZ,NZ and Australian citizens,Andorra,1,0,Provisional
...,...,...,...,...,...,...,...,...,...,...
75,2020-01-01,2021-03-01,Long-term migrant,Arrivals,NZ,NZ and Australian citizens,United Arab Emirates,68,0,Provisional
76,2020-02-01,2021-03-01,Long-term migrant,Arrivals,NZ,NZ and Australian citizens,United Arab Emirates,23,1,Provisional
77,2020-03-01,2021-03-01,Long-term migrant,Arrivals,NZ,NZ and Australian citizens,United Arab Emirates,65,1,Provisional
78,2020-04-01,2021-03-01,Long-term migrant,Arrivals,NZ,NZ and Australian citizens,United Arab Emirates,2,0,Provisional
79,2020-05-01,2021-03-01,Long-term migrant,Arrivals,NZ,NZ and Australian citizens,United Arab Emirates,16,1,Provisional

In [4]:
m1.loc[:"passenger_type","country_of_residence"]

0         Andorra
1         Andorra
2         Andorra
3         Andorra
4         Andorra
           ...
401767      TOTAL
401768      TOTAL
401769      TOTAL
401770      TOTAL
401771      TOTAL
Name: country_of_residence, Length: 401772, dtype: object

In [5]:
m1.iloc[5:20,1:4]

   month_of_release     passenger_type direction
5           2021-03  Long-term migrant  Arrivals
6           2021-03  Long-term migrant  Arrivals
7           2021-03  Long-term migrant  Arrivals
8           2021-03  Long-term migrant  Arrivals
9           2021-03  Long-term migrant  Arrivals
10          2021-03  Long-term migrant  Arrivals
11          2021-03  Long-term migrant  Arrivals
12          2021-03  Long-term migrant  Arrivals
13          2021-03  Long-term migrant  Arrivals
14          2021-03  Long-term migrant  Arrivals
15          2021-03  Long-term migrant  Arrivals
16          2021-03  Long-term migrant  Arrivals
17          2021-03  Long-term migrant  Arrivals
18          2021-03  Long-term migrant  Arrivals
19          2021-03  Long-term migrant  Arrivals

In [13]:
print(m1.dtypes)
m1["month_of_release"]=pd.to_datetime(m1["month_of_release"])
m1["year_month"]=pd.to_datetime(m1["year_month"])

year_month              datetime64[ns]
month_of_release        datetime64[ns]
passenger_type                  object
direction                       object
citizenship                     object
visa                            object
country_of_residence            object
estimate                         int64
standard_error                   int64
status                          object
dtype: object

In [16]:
m1.dtypes

year_month              datetime64[ns]
month_of_release        datetime64[ns]
passenger_type                  object
direction                       object
citizenship                     object
visa                            object
country_of_residence            object
estimate                         int64
standard_error                   int64
status                          object
dtype: object

In [19]:
m1.head(n=21)

,year_month,month_of_release,passenger_type,direction,citizenship,visa,country_of_residence,estimate,standard_error,status
0,2020-02-01,2021-03-01,Long-term migrant,Arrivals,non-NZ,Resident,Andorra,1,0,Provisional
1,2020-09-01,2021-03-01,Long-term migrant,Arrivals,non-NZ,Resident,Andorra,1,0,Provisional
2,2020-07-01,2021-03-01,Long-term migrant,Arrivals,non-NZ,Visitor,Andorra,1,0,Provisional
3,2020-07-01,2021-03-01,Long-term migrant,Arrivals,non-NZ,NZ and Australian citizens,Andorra,1,0,Provisional
4,2020-01-01,2021-03-01,Long-term migrant,Arrivals,NZ,NZ and Australian citizens,Andorra,1,0,Provisional
5,2020-02-01,2021-03-01,Long-term migrant,Arrivals,NZ,NZ and Australian citizens,Andorra,3,0,Provisional
6,2020-09-01,2021-03-01,Long-term migrant,Arrivals,NZ,NZ and Australian citizens,Andorra,1,0,Provisional
7,2020-12-01,2021-03-01,Long-term migrant,Arrivals,NZ,NZ and Australian citizens,Andorra,0,0,Provisional
8,2021-01-01,2021-03-01,Long-term migrant,Arrivals,non-NZ,Other,United Arab Emirates,0,0,Provisional
9,2019-11-01,2021-03-01,Long-term migrant,Arrivals,non-NZ,Resident,United Arab Emirates,16,0,Final
10,2019-12-01,2021-03-01,Long-term migrant,Arrivals,non-NZ,Resident,United Arab Emirates,6,0,Provisional
11,2020-01-01,2021-03-01,Long-term migrant,Arrivals,non-NZ,Resident,United Arab Emirates,23,0,Provisional
12,2020-02-01,2021-03-01,Long-term migrant,Arrivals,non-NZ,Resident,United Arab Emirates,19,0,Provisional
13,2020-03-01,2021-03-01,Long-term migrant,Arrivals,non-NZ,Resident,United Arab Emirates,4,0,Provisional
14,2020-05-01,2021-03-01,Long-term migrant,Arrivals,non-NZ,Resident,United Arab Emirates,2,0,Provisional
15,2020-06-01,2021-03-01,Long-term migrant,Arrivals,non-NZ,Resident,United Arab Emirates,1,0,Provisional
16,2020-07-01,2021-03-01,Long-term migrant,Arrivals,non-NZ,Resident,United Arab Emirates,23,1,Provisional
17,2020-08-01,2021-03-01,Long-term migrant,Arrivals,non-NZ,Resident,United Arab Emirates,3,1,Provisional
18,2020-09-01,2021-03-01,Long-term migrant,Arrivals,non-NZ,Resident,United Arab Emirates,4,1,Provisional
19,2020-10-01,2021-03-01,Long-term migrant,Arrivals,non-NZ,Resident,United Arab Emirates,7,1,Provisional
20,2020-11-01,2021-03-01,Long-term migrant,Arrivals,non-NZ,Resident,United Arab Emirates,4,1,Provisional

In [32]:
m2=m1.loc[m1["estimate"]>20, ["estimate","visa"]]
m2.head(10)

    estimate      visa
11        23  Resident
16        23  Resident
27        25   Student
28        50   Student
33        39   Visitor
34        26   Visitor
35        30   Visitor
48        50      Work
49        44      Work
50        51      Work